# RabbitMQ configuration variables
RABBITMQ_DEFAULT_USER=username
RABBITMQ_DEFAULT_PASS=password
RABBITMQ_USER=username
RABBITMQ_PASS=password
RABBITMQ_HOST=rmq-host:port
RABBITMQ_QUEUE=auth_queue_name
RABBITMQ_CERT_PATH=./certs/client.pem
RABBITMQ_KEY_PATH=./certs/client.key
RABBITMQ_PASSPHRASE=passphrase
RABBITMQ_CA_PATH=./certs/ca.pem

# PGSQL configuration variables
DB_HOST=db_host
DB_PORT=db_port
DB_USERNAME=db_username
DB_PASSWORD=db_password
DB_NAME=db_name